/* font-family: 'Open Sans', sans-serif; */

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;/*base*/
    line-height: 20px;

}
header{
    background-color: #2e64a1;/*# rgb-rgba*/
    padding: 16px 0;/*1rem 0*/
}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;

}
 nav{
    background-color: #6da9da;
    /* margin-top: 40px; */
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
}
nav ul li{
    flex-grow: 1;/*La propiedad flex-grow de CSS especifica el factor de crecimiento de un elemento flexible (que tiene asignado display:flex),
    en su dirección principal.*/

}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}
nav ul li a:hover{
    background-color: rgba(0,0,0, 0.3);
}
footer{
    background-color: #ccc;
    clear: both;/*hace que el elemento caiga por debajo de cualquier elemento flotante que lo preceda en el documento. 
    También puede utilizar clear:left o clear:right para que se sitúe por debajo sólo de los elementos que han sido 
    flotados a la izquierda o a la derecha.*/
    color: #333;
    text-align: center;
    padding:40px 0; /*3rem 0*/
    margin-top: 20px;
}
nav ul li a.activo{
    background-color: #4c76a5;
}
.holder{
    max-width: 960px;
    margin: 0 auto;
}
h2{
    color: #2e64a1;
    font-weight: 400;
}
/*inicio home*/

.bienvenidos{
    width: 75%;
    padding-right: 20px;
    box-sizing: border-box;
}

.testimonios{
    width: 25%;
    /* background-color: yellow; */
}

.columnas{
    display: flex;
    justify-content: space-between;
}

.bienvenidos p{
    font-size: 20px;
}

.testimonio{
    background-color: #ccc;
    padding: 16px;
}

.testimonio .cita{
    font-weight:bold ;
    font-style: italic; 
    font-size: 22px;
    background-color: yellow;
    display: block;
}

.testimonio .autor{
    font-size: 10px;
    text-align: center;
    background-color: lightcoral;
    display: block;
    margin: 12px 0;


}
/*fin home*/

/*Inicio nosotros*/

.historia p{
    font-size: 12px;/*0.7rem*/
    
}

.persona{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 2%;
    /*margin-left:2%*/
}

.persona:last-child{
    margin-right: 0;
}

/*.persona:first-child{margin-left: 0;}*/

/* .persona:nth-child(3){
    background-color: yellow;
} */

/* .persona:nth-child(2n+1){
    background-color: orangered;
} */

 .persona:nth-child(even){
    background-color: yellow;/*par*/
} 

.persona:nth-child(odd){
    background-color: orangered;/*impar*/
} 


.persona img{
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgba(0,0,0, 0.3);
}

.persona h5,

.persona h6{
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5{
    font-size:14px ;
    margin-top: 5px; 

}

.persona h6{
    color: #666;
    font-size: 10px;

}
